<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.BorrowerRegistration_NewLoan"/>
      <class name="Tests.VoidLoan"/>
      <class name="Tests.CloserLoan"/>
      <class name="Tests.ULOCInitiation_Draw"/>
      <class name="Tests.VoidDraw"/>
       <class name="Tests.RescindDraw"/>
       <class name="Tests.PartialPayment"/>
       <class name="Tests.VoidPartialPayment"/>
       <class name="Tests.PayOffLoan"/>
       <class name="Tests.VoidPayOff"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
